<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
    <style>
    body{
        margin: 0px;
        padding: 0px;
        background-color: #28a99e;
    }
    .section{
        border: 3px solid black;
        border-radius: 10px;
        width: 45%;
        justify-content: center;
        align-items: center;
        margin: 300px auto;
        padding: 20px 20px;
    }
    .section h1{
        color: black;
        font-size: 50px;
        font-weight: bold;
    }
    </style>
</head>
<body>
    <div class="section">
        <h1 align ="center">Medical Record Not Found!</h1>
    </div>
</body>
</html>